$font-family-txt-character: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;

@mixin characterContainerMixin($theme: #f1f1f1){
   background-color: $theme;
   display: flex;
   flex-direction: row;
   align-items: center;
   justify-content: center;
   border: 5px solid purple;
   border-radius: 10px;
   padding: 20px;
   width: 140px;
}

.characterItemContainer{
   @include characterContainerMixin($theme: #f1f1f1);
   color:#000;
   font-weight: bold;
   transition-property: background-color, color;
   transition-duration: 1s;
   transition-timing-function: ease;
}

.characterItemContainer-dark{
   @include characterContainerMixin($theme: #3e3d3d);
   color:#fff;
   font-weight: bold;
   transition-property: background-color, color;
   transition-duration: 1s;
   transition-timing-function: ease;
}

img{
   max-width: 75px;
   max-height: 75px;
}