$character-card-bg-color: #ccc;
$font-family-txt-character: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;

.dragonBItemContainer{
    background-color: $character-card-bg-color;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    border: 5px solid purple;
    border-radius: 10px;
    padding: 20px;
    width: 140px;
}

.dragonBItemContainer img{
   max-width: 75px;
   max-height: 75px;
}

.dragonBItemContainer p{
   font-weight: bold;
   font-family: $font-family-txt-character;
   color: #000;
}